html
    body
        nav.navbar.navbar-expand-sm.navbar-light.bg-light
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') Features
                    li.nav-item
                        a.nav-link(href='#') Pricing
                form.form-inline
                    button.btn.btn-outline-success(type='button') Main button
                    button.btn.btn-sm.btn-outline-secondary(type='button') Smaller button