doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-utilities.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include header.pug
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/popper.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/socket.io/socket.io.js') 